/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
    background-color: #FFA500; /* Orange */
    padding: 1rem 2rem;
    font-family: 'Erica One', cursive;
    border-bottom: 5px solid #DAA520; /* Goldenrod */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: #8B4513; /* SaddleBrown */
    text-decoration: none;
    font-size: 2rem;
    border: 2px solid #8B4513;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-menu li a {
    color: #8B4513; /* SaddleBrown */
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2rem;
    border: 2px solid transparent;
}

.navbar-menu li a:hover {
    background-color: #DAA520; /* Goldenrod */
    color: #FFA500; /* Orange */
    border: 2px solid #8B4513;
}

.active a {
    background-color: #DAA520; /* Goldenrod */
    color: #FFA500; /* Orange */
    border: 2px solid #8B4513;
}
